body {
	background:url(img/bg.jpg) no-repeat #fff center top;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px auto auto auto;
	color:#000;
}

#main {
	width:1000px;
	height:auto;
	margin:auto;
	padding:0px;
}

.barra_top {
	width:1000px;
	height:38px;
	background-color:#4a4a4a;
}

.pesquisa_top {
	width:270px;
	height:32px;
	margin:0px 15px 0 0;
	_margin:0px 10px 0 0;
	float:right;
	background:url(img/pesquisa_top.gif) no-repeat center;
}

input.input_pesquisa {
	width:82px;
	height:18px;
	float:left;
	margin:5px 0 0 0 ;
	border:1px solid #dbdbdb;
	border-bottom-color:#ffffff;
	border-right-color:#ffffff;
}

.text_pesquisa {
	float:left;
	width:110px;
	padding:8px 0 0 15px;
	color:#999999;
}

.pesquisa_bt {
	float:left;
	padding:2px 0 0 15px;
}

img.centr {
	text-align:center; }
	
#banner{
	width:1000px;
	height:173px;
	background:url(img/header_bg2.jpg) no-repeat center;
	background-position:0px 0px;
	margin:auto;
}

#logo{
	float:left;
	padding:15px;
}

.cont1 {
	width:600px;
	height:164px;
	float:left;
	padding:0 0 0 50px;
}

.top_div {
	float:left;
	width:1px;
	height:164px;
}

#main2 {
	clear:both;
}

#menu {
	width:1000px;
	height:150px;
	background-color:#fff;
}

.menu_esq {
	width:9px;
	height:50px;
	float:left;
	background:url(img/menu_esq.gif) no-repeat center;
}

ul.menu {
	list-style-type:none; 
	float:left;
	display:block; 
	width:982px; 
	margin:0px; 
	padding:0 0 0 0;
	background:url(img/menu_bg.gif) repeat-x;
}

ul.menu li {
	display:inline;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	line-height:50px;
}

ul.menu li.div1 {
	display:inline;
	width:2px;
	height:50px;
	float:left;
	background:url(img/menu_div1.gif) no-repeat center;
}

a.img1:link, a.img1:visited {
	display:block; 
	float:left; 
	padding:0px 8px 0px 22px; 
	margin:0 14px 0 14px;
	height:50px;
	text-decoration:none; 
	background:url(img/home.png) no-repeat left; 
	color:#676d77;
}

a.img2:link, a.img2:visited {
	display:block; 
	float:left; 
	padding:0px 8px 0px 22px; 
	margin:0 14px 0 14px;
	height:50px;
	text-decoration:none; 
	background:url(img/services.png) no-repeat left; 
	color:#676d77;
}

a.img3:link, a.img3:visited {
	display:block; 
	float:left; 
	padding:0px 8px 0px 22px; 
	margin:0 14px 0 14px;
	height:50px;
	text-decoration:none; 
	background:url(img/favs.png) no-repeat left; 
	color:#676d77;
}

a.img4:link, a.img4:visited {
	display:block; 
	float:left; 
	padding:0px 8px 0px 22px; 
	margin:0 14px 0 14px;
	height:50px;
	text-decoration:none; 
	background:url(img/user_add.png) no-repeat left; 
	color:#676d77;
}

a.img5:link, a.img5:visited {
	display:block; 
	float:left; 
	padding:0px 8px 0px 22px; 
	margin:0 14px 0 14px;
	height:50px;
	text-decoration:none; 
	background:url(img/car.png) no-repeat left; 
	color:#676d77;
}

a.img6:link, a.img6:visited {
	display:block; 
	float:left; 
	padding:0px 8px 0px 22px; 
	margin:0 14px 0 14px;
	height:50px;
	text-decoration:none; 
	background:url(img/contact-new.png) no-repeat left; 
	color:#676d77;
}

li.currencies{
	width:180px;
	float:left;
	padding:0 0 0 15px;
	_padding:12px 0 0 15px;
	color:#676d77;
	font-size:11px;
	font-weight:bold;
}

.menu_dir{
	width:9px;
	height:50px;
	float:left;
	background:url(img/menu_dir.gif) no-repeat center;
}

.caminhopg{
	width:980px;
	height:15px;
	padding:5px 10px 0 20px;
	color:#333333;
	background:url(img/navbullet.png) no-repeat left;
	background-position:5px 6px;
}

.caminhopg a{
	color:#0fa0dd;
	text-decoration:underline;
}

